extends ./layout/template

block content
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="About Us image", class="img-fluid")
            .col-md-7.mt-3.mt-md-0
                h1 #{title}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a nibh quis leo feugiat viverra. Aenean molestie, elit tempor vulputate mollis, urna dolor gravida ante, ac aliquet justo sapien vel nibh. 

                p Curabitur et nulla ipsum. Morbi sodales nibh quis urna scelerisque mattis. Proin urna urna, interdum in metus sit amet, fermentum dignissim urna. Praesent sed neque convallis, rutrum tortor eu, maximus enim. Aliquam sed egestas eros. Nulla facilisi. Phasellus in sollicitudin felis, fermentum tempus turpis.

                p Mauris eget ante et felis gravida ullamcorper et id elit. Nam commodo ligula quis neque gravida, vitae tincidunt nibh porta. Ut leo mauris, aliquet sit amet augue et, gravida pretium nisi. Nunc vel purus nec arcu molestie dapibus. Pellentesque ac mollis felis. Etiam elementum ligula vel sodales blandit. Curabitur velit nulla, finibus hendrerit ligula in, tincidunt lacinia tortor. Mauris dictum elit mi, ac lacinia tortor condimentum eget. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="Security Icon", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris eget ante et felis gravida ullamcorper et id elit. Nam commodo ligula quis neque gravida, vitae tincidunt nibh porta. Ut leo mauris, aliquet sit amet augue et, gravida pretium nisi. Nunc vel purus nec arcu molestie dapibus.

                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="Security Icon", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Mauris eget ante et felis gravida ullamcorper et id elit. Nam commodo ligula quis neque gravida, vitae tincidunt nibh porta. Ut leo mauris, aliquet sit amet augue et, gravida pretium nisi. Nunc vel purus nec arcu molestie dapibus.
                    
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="Security Icon", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Mauris eget ante et felis gravida ullamcorper et id elit. Nam commodo ligula quis neque gravida, vitae tincidunt nibh porta. Ut leo mauris, aliquet sit amet augue et, gravida pretium nisi. Nunc vel purus nec arcu molestie dapibus.