footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/aboutus") About Us
                a.nav-link(href="/trips") Trips
                a.nav-link(href="/testimonials")  Testimonials
        .col 
            p.copyright.text-center.text-md-right 
                | Copyright &copy; All Rights Reserved 
                span= actualYear